*{ 
  margin: 0%; 
  padding: 0%; 
  box-sizing: border-box;
} 

html{
  box-sizing: border-box;
  font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16 px*/
}
*, *:before, *:after {
box-sizing: inherit;
}
body{
  font-size: 1.6rem;
  background-color: black; 
  color: rgb(255, 255, 255); 
}
 /*-----------CONTENEDOR GENERAL--------*/  
 #contenedor{ 
  border: 1px solid yellow;
  width: 100%;
  max-width: 100%; 
  margin: auto; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  border-radius: 2rem; 
  overflow: hidden; 
  height: 420rem;
  } 

  /*------------NAVEGACIÓN--------------*/
 .navegacion{ 
  width: 100%; 
  max-width: 1000px; 
  margin: 1% 2%; 
  background: transparent; 
  border-radius: 20px; 
  display: flex;
  justify-content: flex-end;
} 
.navegacion ul{ 
  list-style: none;   
} 
nav li{ 
  position: relative; 
  display: inline-block; 
} 
nav li a{ 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 1.7rem;
  font-weight: 600;
  color: #FFF;
  text-decoration: none; 
  display: block; 
  padding: 1.5rem 2rem; 
 /*display: flex; */
} 
nav li a:hover{ 
  color: rgb(231, 31, 31);  /*CAMBIAR ESTE COLOR*/   
  transition: all .3s; 
} 
#menu{
  display: none;
}
nav label { 
  
  display: none;

  user-select: none;
}
/*----------HOME------------------*/
.home {
  background-image: url(../imagenes/Imagen1-1.jpg.png);
  background-size: cover;
  border: 3px solid springgreen;
  height: 80rem;
  
} 

/*---------Foto de Perfil---------------*/

.imgRedonda {
  width:20rem;
  height:20rem;
  border-radius:150px;
  border: 0.5rem solid rgb(49, 0, 0);
  margin-left: 47.5rem;
  margin-top: 10rem;
}


/*----------Texto Animado-------------*/

/*---------- Global------------- */
.line-1 {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 32rem;
  margin-top: 4rem;
  border-right: 0.2rem solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
}

/*----------- Animación---------- */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 35em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}


/*****************ACERCA***************/
#acerca {
  border: 1px solid blue; 
  height: 70rem;
}


/************CERTIFICACIONES***************/
.certificaciones {
  width:100%;
  height: 70rem;
  background-image: url(../imagenes/certificaciones.jpg);
  background-size: cover;
  border: 1px solid red;
  }
.certificaciones h2 {
  border: 2px solid orchid;
  font-size: 3rem;
  font-weight: 600;
  color: #1a1955;
  width: 25%;
  margin-left: 100rem;
  margin-top: 25rem;

}
.certificaciones p {
  font-size: 1.8rem;
  font-weight: 400;
  color:#1a1955;
  width: 25%;
  margin-left: 95rem;
  margin-top: 5rem;
}

.btn-certif {
  width: 15%;
  margin-left: 100rem;
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid #efaf4d;
  border-radius: 2.5rem;
  background-color: #f09648;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#f09648));
  background-image: linear-gradient(#f90 10%,#f09648 100%);
}

.btn-certif:hover, .btn-certif:focus {
  background-color: #e0811b;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
  background-image: linear-gradient(#f0a100 10%,#f70 100%);
}

.btn-certif:active {
  background-color: #cf6a00;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
  background-image: linear-gradient(#f0a100 10%,#f70 100%);
}

/************PROYECTOS***************/

#servicios {
  background: linear-gradient(to right, #220f60, #ff0bcb);
  border: 2px solid white;
  height: 120rem;
  align-items: center;
}
.servicios-h h2 {

  font-size: 3rem;
  border: 1px solid snow;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  
  color: #c4c7cf;
  
}
.imagen_servicios{ 
  width: 100%;
  margin-top: 1%; 
  margin-left: 1%; 
  position: relative; 
} 





/************FORMULARIO*********************/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:focus {
  outline: none;
}


/*----------FORMULARIO-------------*/
.form_wrap {
  width: 80%;
  height: 55rem;
  margin: 18rem auto;
  background-color: #EFEFEF;
  display: flex; 
  border-radius: 1rem;
  overflow: hidden;
  border:0.2rem solid #c8c6dc;
  box-shadow: 0px 0px 20px #ff0bcb;
}
/*----INFORMACIÓN DE CONTACTO----------*/
.contact_info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background: linear-gradient(to right,black,#ff0bcb, black);
  opacity: 0.9;
}

.contact_info {
  width: 38%;
  position: relative;
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.info_tittle,
.info_items {
  position: relative;
  z-index: 2;
  color: #FFF;

}
.info_tittle {
  margin-bottom: 60px;

}
.info_tittle i {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  
}
.info_tittle h2 {
  font-size: 35px;
  text-align: center;
}
.info_items p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.info_items p:nth-child(1) i {
  font-size: 30px;
  margin-right: 10px;
}
.info_items p:nth-child(2) i {
  font-size: 40px;
  margin-right: 15px;
  margin-left: 4px;
}


/*----FORMULARIO DE CONTACTO-----------*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}
form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #2B4B82;
  margin-bottom: 30px;
}
form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}
form.form_contact label {
  font-weight: 600;
  color: #2B4B82;
}
form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;


  border: none;
  border-bottom: 2px solid #d1d1d1;

  font-family: "Calibri";
  color: #2B4B82;
  font-size: 14px;
  font-weight: 400;
} 
form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
  
}
form.form_contact input[type= "submit"] {
  width: 18rem;
  margin-top: 2.5rem;
  background: #2B4B82;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  
  align-self: flex-end;

  color: #FFF;
  font-family: "calibri";
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type= "submit"]:hover {
  background: #94DDDE;
}


/*-------------MENSAJE EXITOSO-------------------*/
.mensaje-exito {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensaje-exito h1 {
      font-size: 35px;
      display: block;
      text-align: center;
      margin-bottom: 20px;
}
.mensaje-exito a {
  display: block;
  padding: 10px 30px;
  background: #4091EC;
  text-decoration: none;
  border-radius: 5px;
  color: #FFF;
}
.mensaje-exito a:hover {
  background: #337186;
  
}

.copyright{
  font-size: 1.2rem;
  border: 1px solid yellowgreen;
  margin-top: -15rem;
  text-align: center;
  
}











/*-----------RESPONSIVE---------*/


@media screen and (max-width: 650px){

#contenedor{ 
  border: 1px solid yellow;
  width: 100%;
  max-width: 100%; 
  margin: auto; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  border-radius: 2rem; 
  overflow: hidden; 
  height: 400rem;
  } 
}
/************HOME*****************/
@media screen and (max-width: 650px){
.home {
  height: 65rem; 
}
}

/*-----------Foto Perfil----------*/
@media screen and (max-width: 650px){ 
.imgRedonda {
  width:20rem;
  height:20rem;
  border-radius:150px;
  border: 0.5rem solid rgb(49, 0, 0);
  margin-left: 5rem;
  margin-top: 7rem;
}

}

/*--------Texto Animado----------*/

@media screen and (max-width: 650px){ 
  .line-1 {
    margin-left: 1rem;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 15.5em;}
  }
}
/**************ACERCA*************/
@media screen and (max-width: 650px){ 
#acerca {
  height: 110rem;
}
}

/**********CERTIFICACIONES************/

@media screen and (max-width: 650px){ 
  .certificaciones {
    width: 80%;
    height: 65rem;
    background-image: none;
    background-color: black;
    margin-left: 4.5rem;
    
  }
  .certificaciones h2 {
    width: 80%;
    background: linear-gradient(to right,black,#ff0bcb, black);
    color:white;
    box-shadow: 0px 0px 20px #ff0bcb;
    border-radius: 20px;
    padding: 0.5rem;
    border: 0.1rem solid #FFF;
    margin-top: 5rem;
    margin-left: 5rem;
    text-align: center;
  }
 .certificaciones p {
    font-size: 1.8rem;
    font-weight: 400;
    color:#FFF;
    width: 80%;
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .btn-certif{
    width: 30%;
    margin-left: 15rem;
    margin-top: 5rem;
    padding: 1rem 1.5rem;
    border: 1px solid #efaf4d;
    border-radius: 2.5rem;
    background-color: #f09648;
    color: #fff;
    font-size: 1.2rem;
}

}
/**********PROYECTOS**************/
@media screen and (max-width: 650px){ 
  #servicios { 
   height: 64rem;

  }
}

/**********FORMULARIO****************/

@media screen and (max-width: 650px){ 

  .contact_info .info_tittle h2 {
    font-size: 1.5rem;
  }

  .contact_info .info_items p {
    font-size: 1rem;
    margin-left: -1rem;
  }
  form.form_contact h2 {
    font-size: 2rem;
   }
  form.form_contact input, 
  form.form_contact textarea {
    font-size: 1.5rem;
  }
  form.form_contact input[type= "submit"] {
    width: 100%;
  }
}






/*MENU Hamburgesa*/
@media screen and (max-width: 650px){ 
  .navegacion{ 
      width: 70%; 
      max-width: 10rem; 
      margin: 5% auto; 
      background:transparent;
      border-radius: 2rem; 
  } 
nav ul{
  display: none;
}

nav input:checked  ~ ul{
  display:block;
}

nav  input {
  display: none;
}
/*menu icono*/
nav label { 
  
  display: inline-block;
  border: 0.1rem solid black;
  width: 3rem;
  height: 3rem;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
  background: grey;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked  label {
  background: lightgrey; 
}


 /* Estilo del despliegue*/
nav li a {
  display: block;
  background: rgb(58, 54, 54);   
  margin: 0;
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-decoration:none;
  border-bottom: 0.1rem solid rgb(41, 39, 39); 
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
li a:hover {
  filter: brightness(110%);
  
}

nav li{ 
   
  display: block; 
} 
}